@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication


<div class="d-flex justify-center align-center">
    <RemoteAuthenticatorView Action="@Action" />
</div>

@code{
    [Parameter] public string? Action { get; set; }
}
