@page "/"

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-16">
    <MudText Typo="Typo.h4"> <strong> Welcome to Archieve. </strong></MudText>
    <MudText Typo="Typo.body1" class="mt-3 mb-5"> Go for, and add related studies to your <a
            href="/library"><strong><u>Library</u> </strong></a> 📚.
    </MudText>
    <MudTextField Class="d-flex inline mr-14" Intermediate="true" HelperText="@search" @bind-Value="search"
        Label="Search for .... 🤔" Variant="Variant.Filled" Adornment="Adornment.End"
        AdornmentIcon="@Icons.Filled.Search" AdornmentColor="Color.Secondary" Clearable="true" />


    <SurveyPrompt Title="How is our Arciving System?" />
</MudContainer>
@code {
    [Parameter]
    public string? search { get; set; }
}